# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
.pytest_cache/
.coverage
coverage.xml

# Django
db.sqlite3
media/
staticfiles/

# Celery Beat
celerybeat-schedule
celerybeat-schedule-shm
celerybeat-schedule-wal

# Environment
.env
.venv
.python-version

# IDE
.idea/
.vscode/

# Node
node_modules/
app/static/css/dist/