{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="csrf-token" content="{{ csrf_token }}">
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link href="{% static "css/dist/styles.css" %}" rel="stylesheet">
</head>
<body x-data hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' @show-message.window="$store.messages.push(event.detail.value)">
    <div id="header">
        <span class="logo">Social-Network</span>
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">My dashboard</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="{% url 'images:list' %}">Images</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url 'user_list' %}">People</a>
                </li>
            </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }},
                <form method="post" action="{% url 'logout' %}" class="logout-form">
                    {% csrf_token %}
                    <button type="submit" class="link-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Log-in</a>
            {% endif %}
        </span>
    </div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li x-data="{ show: true }"
                    x-show="show"
                    x-transition
                    x-init="setTimeout(() => show = false, 4000)"
                    class="{{ message.tags }}">
                    {{ message|safe }}
                    <a href="#" class="close" @click.prevent="show = false">x</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <ul class="messages">
        <template x-for="(msg, i) in $store.messages" :key="i">
            <li x-data="{ show: true }"
                x-show="show"
                x-transition
                x-init="setTimeout(() => show = false, 4000)"
                class="error">
                <span x-text="msg"></span>
                <a href="#" class="close" @click.prevent="show = false">x</a>
            </li>
        </template>
    </ul>

    <div id="content">
        {% block content %}
        {% endblock %}
    </div>

    <script src="{% static 'js/vendor/htmx.min.js' %}"></script>
    <script defer src="{% static 'js/vendor/alpine.min.js' %}"></script>
    <script>
        const csrftoken = document.querySelector('meta[name="csrf-token"]').content;
        document.addEventListener('alpine:init', () => {
            Alpine.store('csrf', csrftoken);
            Alpine.store('messages', []);
        });
    </script>
    {% block scripts %}{% endblock %}

</body>
</html>
