{% extends "base.html" %}

{% load thumbnail %}

{% block title %}{{ user.get_full_name }}{% endblock %}

{% block content %}
    <h1>{{ user.get_full_name }}</h1>
    <div class="profile-info">
        {% thumbnail user.profile.photo "180x180" as im %}
        <img src="{{ im.url }}" class="user-detail">
        {% endthumbnail %}
    </div>
    {% with total_followers=user.profile.followers.count %}
        <div x-data="{
            following: {% if request.user.profile in user.profile.followers.all %}true{% else %}false{% endif %},
            count: {{ total_followers }},
            async toggle() {
                const res = await fetch('{% url 'user-follow' user.id %}', {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': Alpine.store('csrf'),
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ action: this.following ? 'unfollow' : 'follow' }),
                });
                if (res.status === 429) {
                    Alpine.store('messages').push('Too many requests. Please slow down.');
                    return;
                }
                const data = await res.json();
                if (data.status === 'ok') {
                    this.following = !this.following;
                    this.count += this.following ? 1 : -1;
                }
            },
        }">
            <span class="count">
                <span x-text="count + (count === 1 ? ' follower' : ' followers')"></span>
            </span>
            <a href="#" class="follow button" @click.prevent="toggle()" x-text="following ? 'Unfollow' : 'Follow'"></a>
        </div>
        <div id="image-list" class="image-container">
            {% include "images/image/list_images.html" with images=user.images_created.all %}
        </div>
    {% endwith %}
{% endblock %}
